<h1> Modeling Baseline </h1>

In [1]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv('../data/quay_data.csv')

In [7]:
data = data.drop(columns=[
                         'AGE_PERCENTIL',
                         'GENDER',
                         'Unnamed: 0'])
data.head()

,PATIENT_VISIT_IDENTIFIER,AGE_ABOVE65,DISEASE GROUPING 1,DISEASE GROUPING 2,DISEASE GROUPING 3,DISEASE GROUPING 4,DISEASE GROUPING 5,DISEASE GROUPING 6,HTN,IMMUNOCOMPROMISED,...,HEART_RATE_DIFF_REL,RESPIRATORY_RATE_DIFF_REL,TEMPERATURE_DIFF_REL,OXYGEN_SATURATION_DIFF_REL,WINDOW,ICU,age_mapped,GENDER_0,GENDER_1,ever_icu
0,0,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,0-2,0,6,1,0,1
1,0,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,-1.000000,-1.000000,-1.000000,-1.000000,2-4,0,6,1,0,1
2,0,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,-0.817800,-0.719147,-0.771327,-0.886982,4-6,0,6,1,0,1
3,0,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,-0.817800,-0.719147,-1.000000,-1.000000,6-12,0,6,1,0,1
4,0,1,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,-0.230462,0.096774,-0.242282,-0.814433,12+,1,6,1,0,1

<h2> For First Time Slot </h2>

In [14]:
first = data[data['WINDOW'] == '0-2']

In [15]:
### First Features

data.columns

first = first[['LACTATE_MEAN',
'RESPIRATORY_RATE_MEAN',
'CREATININ_MEAN',
'PCR_MEAN',
'AGE_ABOVE65',
'CALCIUM_MEAN',
'NEUTROPHILES_MEAN',
'HEMOGLOBIN_MEAN',
'PLATELETS_MEAN',
'HEMATOCRITE_MEAN',
'OXYGEN_SATURATION_MAX',
'LEUKOCYTES_MEAN',
'UREA_MEAN',
'OXYGEN_SATURATION_MEDIAN','ICU',
       'age_mapped', 'GENDER_0', 'GENDER_1', 'ever_icu']]

In [16]:
first.head()

,LACTATE_MEAN,RESPIRATORY_RATE_MEAN,CREATININ_MEAN,PCR_MEAN,AGE_ABOVE65,CALCIUM_MEAN,NEUTROPHILES_MEAN,HEMOGLOBIN_MEAN,PLATELETS_MEAN,HEMATOCRITE_MEAN,OXYGEN_SATURATION_MAX,LEUKOCYTES_MEAN,UREA_MEAN,OXYGEN_SATURATION_MEDIAN,ICU,age_mapped,GENDER_0,GENDER_1,ever_icu
0,0.267131,-0.593220,-0.891078,-0.845570,1,0.330359,-0.812662,-0.202472,-0.414479,-0.160818,0.736842,-0.741266,-0.830181,0.736842,0,6,1,0,1
5,0.267131,0.830508,-0.891078,-0.845570,1,0.330359,-0.812662,-0.202472,-0.414479,-0.160818,1.000000,-0.741266,-0.830181,1.000000,1,9,0,1,1
10,1.000000,-0.438754,-0.912243,-0.939887,0,0.357143,-0.412965,0.158537,-0.399199,0.144654,0.818593,-0.382773,-0.836145,0.748588,0,1,1,0,1
15,0.267131,-0.438754,-0.891078,-0.845570,0,0.330359,-0.812662,-0.202472,-0.414479,-0.160818,0.818593,-0.741266,-0.830181,0.748588,0,4,0,1,0
20,1.000000,-0.438754,-0.913659,-0.990926,0,0.357143,-0.812725,0.304878,-0.457944,0.358491,0.818593,-0.702202,-0.903614,0.748588,0,1,1,0,0

In [17]:
len(first)  ### the bad thing about this is we actually dont have that many data points

385

In [27]:
## For ever in ICU 

one_ever_icu = first.drop(columns=['ICU'])


## for not in icu rn

one_icu_now = first.drop(columns=['ever_icu'])

In [34]:
# Ever in ICU 

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
y = one_ever_icu[['ever_icu']]
X = one_ever_icu.drop(columns=['ever_icu'])


X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)



clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.predict(X_test)
clf.predict_proba(X_test)
clf.score(X_test, y_test)

## Gives us the accuracy scores

/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.6875

In [35]:
### It seems that we get much higher scores as we go on

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
y = one_icu_now[['ICU']]
X = one_icu_now.drop(columns=['ICU'])


X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.33, random_state=42)



clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.predict(X_test)
clf.predict_proba(X_test)
clf.score(X_test, y_test)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.9296875

In [ ]:
#sldfjlsdkf